<h1>Tell us about your protest!</h1>

<form action="/protests" method="post">
    <label for="name">Protest name: </label>
    <br>
    <input type="text" name="name">
    <br>
    <br>
    <label for="location">Location: </label>
    <br>
    <input type="text" name="location">
    <br>
    <br>
    <label for="description">Description: </label>
    <br>
    <textarea name="description" id="desc" cols="40" rows="5">Enter Description Here</textarea>
    <br>
    <br>
    <label for="date">Date: </label>
    <br>
    <input type="date" id="protestdate" name="date" min="2020-11-01" max="2100-12-31">
    <br>
    <br>
    <label for="time">Time: </label>
    <br>
    <input type="text" name="time">
    <br>
    <br>
    <input type="submit" value="submit">
    <br>
    <br>
    <a href="/">Click here to go back home</a>


</form>