<h2><%= @protest.name %></h2>

<a href="/protests/<%=@protest.id%>/edit">Edit Event</a>

<form action="/protests/<%=@protest.id%>/delete" method="POST">
    <input type="hidden" name="_method" value="delete" id="hidden">
    <input type="submit" value="Delete Event">
</form>