<h1>Here are all the protests that comrades have posted!</h1>

<ul>
  <% @protests.each do |p| %>
    <li><a href="/protests/<%=p.id%>"><%= p.name %></a></li>
    <% end %>
</ul>

<br>
<br>
<a href="/protests/new">Submit a new protest</a>
<br>
<form action="/logout" method="post">
Logout?
<input type="submit" name="logout" value="logout">