<p>Sorry, that username already exists, please either try logging in again, or if you forgot your password, create a new username</p>
<br>
<br>
<a href="/signup">Click here to if you want to sign up with a new username</a>
<br>
<br>
<a href="/login">Click here to log in</a>