<div class="container">
  <header><img src="https://i.imgur.com/Sg4nncX.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Protest Tracker: All events listed here:</h2>

    <a href="/protests">Click here to see all the protests</a>
    <br>
    <br>
    <a href="/signup">Click here to sign up!</a>
    <br>
    <br>
    <a href="/login">Click here to login and post your own protest!</a>
    <br>
    <br>
    
    <form action="/logout" method="post">
  Logout?
  <input type="submit" name="logout" value="logout">
</form>


</div>
