<div class="container">
  <header><img src="https://i.imgur.com/Sg4nncX.jpg" class="img-responsive main-image"></header>
  <div class="select">
    <h2>Protest Tracker: Track Protests Globally!</h2>

    <a href="/protests"><img src="/images/protests.png"></a>
    <br>
    <br>
    <a href="/login"><img src="/images/login.png"></a>
    <br>
    <br>
    <a href="/signup"><img src="/images/signup.png"></a>
    <br>
    <br>
    
  <% if logged_in? %>
      <form action="/logout" method="post">
          <input type="submit" name="logout" class="logout">
      </form>
  <% end %>

</div>
