<div class="container">
  <header><img src="https://i.imgur.com/Sg4nncX.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Protest Tracker: All events listed here:</h2>

    <div class="content">
    <ul>
      <% @protests.each do |p| %>
        <li><%= p.name %></li>
        <% end %>
    </ul>
    </div>

  </div>
</div>
