<div class="container">
  <header><img src="https://i.imgur.com/Sg4nncX.jpg" class="img-responsive main-image"></header>
  <div class="select">
    <% if logged_in? %>
      <h3>Welcome Back <%= @user.username %>!</h3>
    <% end %>
    <br>
    <h2>Protest Tracker: Track Protests Globally!</h2>

    <% if logged_in? %>
      <a href="/dashboard"><img src="/images/dashboard.png"></a>
      <br>
      <br>
      <a href="/protests"><img src="/images/protests.png"></a>
      <br>
      <br>
      <a href="/protests/new"><img src="/images/new.png"></a>
      <br>
      <br>
      <form action="/logout" method="post">
        <input type="submit" name="logout" class="logout">
      </form>
    <% else %>
      <a href="/protests"><img src="/images/protests.png"></a>
      <br>
      <br>
      <a href="/login"><img src="/images/login.png"></a>
      <br>
      <br>
      <a href="/signup"><img src="/images/signup.png"></a>
      <br>
      <br>
    <% end %>
</div>
